*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
p{
    margin: 0px;
    padding: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.top{
height: 50px; width: 100%;
background-color:#071A21;
color: white;
font-size: x-large;
font-family: 'Open Sans', sans-serif;
align-items: center;
position: relative;
}
.middle{
    height: 900px; width: 100%;
background-color: #112830;
display: flex;
align-items: center;
justify-content: space-around;

}
.middle-middle {
height: 100%; width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
}
.bottom{
    height: 50px; width: 100%;
background-color: #071A21;
font-family: 'Open Sans', sans-serif;

}
.Word {
    height: 30%;
    width: 100%;
}
.excel {
    height: 45%;
    width: 100%;
}
.powerpoint {
    height: 25%;
    width: 100%;
}
.title1 {
    height: 10%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: larger;
}
.text1 {
    height: 10%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: medium;
}
.image1 {
    height: 80%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: medium;
    display: flex;
    align-items: center;
}
#image {
    width: 100px;
    height: 100px;
    padding: 10px;
}
