*{
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
    padding: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.top{
    height: 50px; width: 100%;
    background-color:#071A21;
    color: white;
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    position: relative;
}
.middle{
    height: 900px; width: 100%;
    background-color: #112830;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.bottom{
    height: 50px; width: 100%;
    background-color: #071A21;

}
.planning{
    height: 10%; width: 100%;
}
.pages {
    height: 90%;
    width: 100%;
}