*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
h1{
    margin: 0px;
    padding: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
p{
    margin: 0px;
    padding: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.top{
height: 50px; width: 100%;
background-color:#071A21;
color: white;
font-size: x-large;
font-family: 'Open Sans', sans-serif;
align-items: center;
position: relative;
}
.middle{
    height: 100%; width: 100%;
background-color: #112830;
display: flex;
align-items: center;
justify-content: space-around;

}
.bottom{
    height: 50px; width: 100%;
background-color: #071A21;

}
.me {
    height: 100%;
    width: 100%;
}
.me-1 {
    height: 10%;
    width: 100%;
    color: white;
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
}
.me-2 {
    height: 20%;
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.achievements1 {
    height: 30%;
    width: 100%;
    color: white;
    font-size: medium;
    font-family: 'Open Sans', sans-serif;}

    .hobbies{
        width: 100%;
        height: 10%;
        color: white;
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
    }
    .hobbies2{
     height: 35%;
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    }
    .skills {
        width: 60%;
        height: 20%;

    }
    .skill2{
        width: 100%;
        height: 10%;
    }
    .skills3 {
        width: 100%;
        height: 90%;
    }
    .certificates{

    }
    #certs{
        height: 30%;
        width: 30%;
    }
    #certs2{
        height: 50%;
        width: 50%;
    }